.search-bar {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 1rem; /* distance from left edge */
  color: #6c757d; 
}

.search-bar .form-control {
  padding-left: 2.50rem; /* space so text doesn't overlap icon */
}
